body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
  background-image: url('/Users/briangearty/EventPlanner/Assets/underwater.jpg');
}

.jumbotron {
  padding: 10px;
  border-bottom: 2px groove black;
  background-color: blanchedalmond;
} 

.display-3 {
  font-size: 50px;
  color:black;
  text-align: center;
}
#navbar-date {
  font-size: 20px;
  color:black;
  text-align: center;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;;
}

.past {
  background-color:grey;
}

.present {
  background-color: red;
  
}

.future {
  background-color: green;
  
}

.save-btn {
  border: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06AED5;
  color:black;
}
.timeDiv {
  background-color: coral;
  border: 1px solid black;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  color:black;
  text-align: center;
  padding-top: 30px;
}

.container-all {
  height: 85%;
  width: 75%;
  border: 5px groove black;
  margin: auto;
  padding: 25px;
  background-color: blanchedalmond;
}



.footer {
  text-align: center;

}
